html, body {
    margin: 0;
    min-width: 900px;
    margin-left: 10%;
    margin-right: 10%;
}

header, main, footer {
    overflow: auto;
    
}

header {
    /* source https://commons.wikimedia.org/wiki/File:D%C3%B6ner_Kebab_in_Istanbul.jpg */
    background-image: url('abakebabra.jpg');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 500px;
}

main {
    background-color: #EEE;
}

h1 span {
    display: block;
    font-size: 0.8em;
}

footer{
    height: 100px;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

ul{
    list-style-type: none;
    text-align: center;
}

li{
    display: inline-block;
    padding: 10px;
    border: black 1px solid;
    background-color: white;
    width: 144px;
}

.navheader{
     display: flex;
     justify-content: end;
     padding-right: 10px;
}

.titel{
    display: flex;
    display: inline-block;
    padding: 10px;
    border: black 1px solid;
    background-color: white;
    height: 65px;
}

.header{
    display: flex;
    justify-content: space-between;
}